{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div data-role="page">
<div data-role="header">
<a href="/overview.html" class="ui-btn-left" data-icon="arrow-l" data-rel="back">Back</a><h1>About</h1>
</div>
<div data-role="content">
<h3>About this demo...</h3>
<p>This demo application uses Django and jQueryMobile.  It takes advantage of some of the server capabilities to identify and locate the device accessing it.</p>
</div><!-- /content -->
</div><!-- /page -->
{% endblock %}
