<html>
  <head>
    {% block title %}
    <title>Base Demo Template</title>
    {% endblock %}
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    {% if device and device.is_wireless_device %}
        <link rel="stylesheet" href="{{staticfile('world/css/world_mobile.css')}}" type="text/css">
        {% if device.device_os == 'Android' %}
            <link rel="stylesheet" href="{{staticfile('world/css/android.css')}}" type="text/css">
        {% elif device.device_os == 'iPhone' %}
            <link rel="stylesheet" href="{{staticfile('world/css/iphone.css')}}" type="text/css">
        {% endif %}
    {% else %}
        <link rel="stylesheet" href="{{staticfile('world/css/world.css')}}" type="text/css">
    {% endif %}
  </head>
  <body>
  {% block content %}
  {% endblock %}
  </body>
</html>
